<div id="main">
  <div id="left">
    <!-- SEARCH PANEL -->

    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <button id="filter" class="btn btn-default" data-toggle="collapse" data-target="#collapsePanel">
          Більше фільтрів <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <br/>
      

        <%= search_form_for @search, url: search_path, remote: true do |f| %>

          <div class="row">
            <div class="col-md-8">
              <label>Діапазон ціни:</label>
              <div id="slider-range"></div>
            </div>
            <div class="col-md-2">
              <label>Мінімальна:</label>
              <%= f.text_field :price_gteq, class: "form-control" %>
            </div>
            <div class="col-md-2">
              <label>Максимальна:</label>
              <%= f.text_field :price_lteq, class: "form-control" %>
            </div>
          </div>

          <div class="row text-center">
            <%= f.submit "Пошук", class: "btn btn-form" %>
            <%= link_to 'Забрати карту', home_path, class: 'remove-map pull-right' %>
          </div>

          <hr/>

        <div class="collapse" id="collapsePanel">
          <div class="row">
            <div class="col-md-4">
              <%= check_box_tag "q[room_type_eq_any][]", "Підселення" %> Підселення
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[room_type_eq_any][]", "Приватне" %> Приватне
            </div>
          </div>

          <hr/>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group select">
                <label>Кількість кімнат</label>
                <%= f.select :accommodate_gteq, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], id: "accommodate", prompt: "Вибір...", class: "form-control" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group select">
                <label>Спальних місць</label>
                <%= f.select :bed_room_gteq, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], id: "bed_room", prompt: "Вибір...", class: "form-control" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group select">
                <label>Ванних кімнат</label>
                <%= f.select :bath_room_gteq, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], id: "bath_room", prompt: "Вибір...", class: "form-control" %>
              </div>
            </div>
          </div>

          <hr/>

          <div class="row">
            <div class="col-md-4">
              <%= check_box_tag "q[is_tv_eq]", true %> ТБ
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_kitchen_eq]", true %> Кухня
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_internet_eq]", true %> Інтернет
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_heating_eq]", true %> Пральна машина
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_air_eq]", true %> Кондиціонер
            </div>
          </div>

          <hr/>



        <% end %>
      </div>
      <br/>

      <div class="row" id="room_listing">
        <%= render partial: "rooms/rooms_list", locals: {rooms: @arrRooms} %>
      </div>

    </div>
  </div>
  <div id="right">
    <!-- GOOGLE MAP -->

    <div id="map" style="width: 100%; height: 100%;"></div>

    <script>

      function initialize(rooms) {
        var location = {lat: 49.839553, lng: 24.033520}

        var map = new google.maps.Map(document.getElementById('map'), {
          center: location,
          zoom: 12
        });

        var icon = {
            url: "http://images.clipartpanda.com/circle-clip-art-22241-red-circle-design.png", // url
            scaledSize: new google.maps.Size(10, 10), // scaled size
            origin: new google.maps.Point(0,0), // origin
            anchor: new google.maps.Point(0, 0) // anchor
        };

        rooms.forEach(function(room){
          var marker = new google.maps.Marker({
            position: {lat: room.latitude, lng: room.longitude},
            map: map,
            icon: icon
          }); 

          google.maps.event.addListener(marker, 'click', function() {
            $.ajax({
              type: "GET",
              url: "rooms/address_rooms",
              dataType: "script",
              data: {marker: {lng: marker.position.lng }}
            });
          });
        });
      }

      google.maps.event.addDomListener(window, 'load', function () {
        initialize(<%= raw @arrRooms.to_json %>)
      });
    </script>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>



<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  var open = true;

  $('#filter').click(function(){
    if (open) {
      $('#filter').html("Згорнути <i class='fa fa-chevron-up'></i>")
    } else {
      $('#filter').html("Більше фільтрів <i class='fa fa-chevron-down'></i>")
    }
    open = !open;
  });
</script>

<script>
  $(function () {
    $("#q_price_gteq").val('100');
    $("#q_price_lteq").val('500');
    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 1000,
      values: [100, 500],
      slide: function(event, ui) {
        $("#q_price_gteq").val(ui.values[0]);
        $("#q_price_lteq").val(ui.values[1]);
      }
    });
    $(".ui-widget-header").css('background', '#00A699');
    $(".ui-state-default, .ui-widget-content").css('background', 'white');
    $(".ui-state-default, .ui-widget-content").css('border-color', '#00A699');
  });
</script>
