<div class="panel panel-default">
  <div class="panel-heading text-center">
    <b><%= @room.price %></span></b> <span>грн</span>
  </div>

  <div class="panel-body">
    <%- if current_user %>
      <%- if @booked %>
        <%= link_to 'Видалитися з черги', room_reservation_path(@room, @room.reservations.where(room_id: @room.id).first), method: :delete, class: "btn btn-danger btn-block"  %>
      <% else %>
        <%= form_for([@room, @room.reservations.new]) do |f| %>
          <div class="row">
            <div class="col-md-12 reservation-btn">
              <%= f.submit "Записатися в чергу на показ", class: "btn btn-success btn-block" %>
            </div>
          </div>
        <% end %>
      <% end %>  
    <% else%>
      <%= form_for([@room, @room.reservations.new]) do |f| %>
        <div class="row">
          <div class="col-md-12 reservation-btn">
            <%= f.submit "Записатися в чергу на показ", class: "btn btn-success btn-block" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>