<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Тип житла
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>

            <div class="row">
              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Тип житла</label>
                  <%= f.select :home_type, [["Квартира", "Квартира"], ["Будинок", "Будинок"], ["Приміщення", "Приміщення"]],
                                id: "home_type", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Тип поселення</label>
                  <%= f.select :room_type, [["Підселення", "Підселення"], ["Приватне", "Приватне"]],
                                id: "room_type", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Кількість кімнат</label>
                  <%= f.select :accommodate, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                                id: "accommodate", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Спальні місця</label>
                  <%= f.select :bed_room, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                                id: "bed_room", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Ванні кімнати</label>
                  <%= f.select :bath_room, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                                id: "bath_room", prompt: "Select...", class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="text-center"><%= f.submit "Зберегти", class: "btn btn-form" %></div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
