<% unless @reviews.count == 0 %>
  <% @reviews.order(id: :desc).each do |r| %>
    <hr/>
    <div class="row">
      <div class="col-md-3 text-center">
        <%= image_tag avatar_url(r.user), class: "img-circle avatar-medium" %><br/><br/>
        <strond><%= r.user.fullname %></strond>
      </div>
      <div class="col-md-9">
        <% if current_user && current_user == r.user %>
          <span style="margin-right: 10%;" class="pull-right">
            <%= link_to room_review_path(@room, r), method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="fa fa-trash-o fa-lg"></i>
            <% end %>
          </span>
        <% end %>
        <div id="star_<%= r.id %>"></div>
        <div><%= r.created_at.strftime("%d/%m/%Y") %></div>
        <div style="padding-right: 5%;"><%= r.comment %></div>
      </div>
    </div>

    <script>
      $('#star_<%= r.id %>').raty({
        path: '/assets',
        readOnly: true,
        score: <%= r.star %>
      });
    </script>
  <% end %>
<% end %>
